body {
    color: rgb(255, 255, 255);
    background-color: rgb(4, 20, 0);
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-left: 3%;
    margin-right: 3%;
}

.title {
    font-size: 3em;
    font-weight: bold;
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

a:not(.title-a):hover {
    color: rgb(149, 255, 139);
    text-decoration: underline;
    transition: color .3s;
}

p {
    font-size: 1.6em;
}

h2 {
    font-size: 2.2em;
    margin-block-end: .5em;
    margin-block-start: .5em;
    color: rgb(0, 255, 0);
}

h3 {
    font-size: 1.8em;
    margin-block-end: .5em;
    margin-block-start: .5em;
    color: rgb(0, 255, 0);
}

li {
    font-size: 1.5em;
}