.container {
    height: 100%;
    width: 100%;
    position: relative;
  }

.center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.text {
    text-align: center
}